<div class="container container-content" ng-init="getUser()">
  <div class="col-xs-3">
    <div class="profile-image">
      <img ng-src="{{package.tmpUser.image}}" align="middle">
    </div>
    <div>
      <h4>
        <a ng-if="package.tmpUser.type === 1" ui-sref="groups.group.packages({groupName: package.tmpUser.name})">{{package.tmpUser.name}}</a>
        <a ng-if="package.tmpUser.type === 0" ui-sref="profile({username: package.tmpUser.name})">{{package.tmpUser.name}}</a>
        /<a href="">{{package.pkgName}}</a></h4>

      <div class="profile-left-section">
        <span>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <a href="">{{package.tmpUser.email}}</a>
        </span>
      </div>
    </div>
  </div>
  
  <div class="col-md-9">
    <div ng-init="package.tmpPgk ={}" btf-markdown="package.tmpPgk.markdown">
    </div>
  </div>

</div>