<div class="auth-box">
  <div class="auth-inner-box">
    <h3>Sign up</h3>
    <div class='row' id="login-button-group">
      <a class="btn btn-social btn-google btn-block">
        <span class="fa fa-google"></span> Sign up with Twitter
      </a>
      <a class="btn btn-social btn-facebook btn-block">
        <span class="fa fa-facebook"></span> Sign up with Facebook
      </a>
      <a class="btn btn-social btn-github btn-block">
        <span class="fa fa-github"></span> Sign up with Github
      </a>
    </div>

    <h5>Or</h5>

    <div class='row'>
      <form class="form" name="form" ng-submit="auth.signup(tmpUser)">
        <div class="form-group">
          <div class="box-sm">
            <input ng-model="tmpUser.username" type="text" class="form-control" placeholder="Username" autofocus="true" required>
          </div>

          <div class="box-sm">
            <input type="password" class="form-control" placeholder="Password" ng-model="tmpUser.password" required>
          </div>

          <div class="box-sm">
            <input type="email" class="form-control" placeholder="Email" ng-model="tmpUser.email" required>
          </div>
        </div>
          
        <div class="login-button">
          <a ui-sref="forgot-password" class="btn pull-right">forgot password?</a>
          <button type="submit" class="btn btn-lg btn-primary pull-right">Sign up</button>
        </div>
      </form>
    </div>
  </div>
  <div class="box">
    <p>Alread have one? <a ui-sref="signin">Sign in</a>.</p>
  </div>
</div>